<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body class="bg-gray-100 text-gray-900">
    {% extends "base.html" %}

{% block title %}Select NFL Picks{% endblock %}

{% block content %}

    <div class="container mx-auto py-10">
        <div class="text-center mb-8">
            <h1 class="text-5xl font-bold text-gray-800 mb-4">User Dashboard - Week {{ current_week }}</h1>
            <p class="text-lg text-gray-600">Manage your NFL picks for the current week or past weeks.</p>
            
            

            <div class="mt-8">
                <a href="{{ url_for('main.user_score_summary') }}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">View Your Scores and Standings</a>
                <a href="{{ url_for('main.nfl_picks') }}" class="bg-blue-500 text-white py-2 px-4 rounded">Select Picks</a>
                <a href="{{ url_for('main.see_picks') }}" class="bg-blue-500 text-white py-2 px-4 rounded ml-4">See Picks</a>
            </div>
        </div>
    </div>

   
</body>
</html>
{% endblock %}